<app-header titulo="Clientes"></app-header>

<ion-content [fullscreen]="true">

  <ion-list >
    <ion-item>
      <ion-button (click)="abrirModal()"  color="tertiary" slot="end" size="small" >
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list >
    <ion-list class *ngFor="let VerCliente of VerCliente">
    <ion-item>
      
      <ion-label>

        <h1>{{VerCliente.nombre}}</h1>
        <p>{{VerCliente.correo}}</p>

      </ion-label>
      <ion-buttons slot="end" size="small"   >
        <label>
        <ion-button (click)="mostrarPop($event) ">

          <img src="/assets/icon/iconsP1.png" >

        </ion-button>
      </label>

      </ion-buttons>

    </ion-item>

  
</ion-list>
</ion-content>
