<!-- <app-header color="warning" titulo="Clientes"></app-header> -->

<ion-content padding [fullscreen]="true">
  <ion-card mode="ios">
    <ion-item color="danger">

      <ion-label>Clientes</ion-label>

    </ion-item>

    <ion-img src="/assets/banner.jpg"></ion-img>

    <ion-searchbar placeholder="buscar" animated="true" (ionChange)="BuscarCliente($event)" debounce="250">

    </ion-searchbar>

    <ion-item>
      <ion-fab class="posicion"  vertical="bottom" horizontal="end" >
        <ion-fab-button  (click)="abrirModal()" color="tertiary" size="small" >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-item>
  </ion-card>

  <ion-list *ngIf="VerCliente.length > 0" >
    <ion-item class *ngFor="let VerCliente of VerCliente | filtro:BuscarClientes">

      <ion-label >

        <h1>{{VerCliente.nombre}}</h1>
        <p>{{VerCliente.correo}}</p>

      </ion-label>
      <ion-buttons slot="end" size="small">
        <label>
          <ion-button (click)="mostrarPop($event,VerCliente.id) ">

            <img src="/assets/icon/iconsP1.png">

          </ion-button>
        </label>

      </ion-buttons>

    </ion-item>


  </ion-list>

  <ion-title  class="top" *ngIf="VerCliente.length === 0">
    <h4>sin registro</h4>
  </ion-title>



</ion-content>
