<ion-header>

  <ion-buttons (click)="salir()" slot="start" color="danger">

    <ion-button  defaultHref="/">
      <ion-icon name="close-outline" ></ion-icon>
    </ion-button>
    <ion-title >Agregar Clientes</ion-title>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>
    <ion-item>
<ion-label position="floating">Nombre</ion-label>
<ion-input [(ngModel)]="datos.nombre"  type="text" ></ion-input>
</ion-item>

<ion-item>
<ion-label position="floating">Apellido</ion-label>
<ion-input [(ngModel)]="datos.apellido" type="text" class="redondeado"  ></ion-input>
</ion-item>

<ion-item>
<ion-label position="floating">Direccion</ion-label>
<ion-input [(ngModel)]="datos.direccion" type="text"  ></ion-input>
</ion-item>

<ion-item>
<ion-label position="floating">Cedula</ion-label>
<ion-input [(ngModel)]="datos.cedula" placeholder="00-000000-0000A" type="text"></ion-input>
</ion-item>

<ion-item>
<ion-label position="floating">Correo electrinico</ion-label>
<ion-input [(ngModel)]="datos.correo"placeholder="jjjj123@gmail.com" type="text"></ion-input>
</ion-item>

<ion-item>
<ion-label position="floating">Fecha</ion-label>
<ion-input [(ngModel)]="datos.fecha" type="date">
  <!-- <ion-datetime ></ion-datetime> -->


</ion-input>
</ion-item>

  </ion-list>
  <ion-button (click)="crearcliente()"  class="top" size="default">guardar
    <ion-icon slot="start" name="save-outline"></ion-icon>
  </ion-button>

</ion-content>
