<!-- <p> -->
<ion-list class="center">
    <ion-item >

  <ion-buttons >
    <ion-button  id="present-alert" >

        <img src="/assets/icon/icons.gif" >

        <ion-alert trigger="present-alert" header="Eliminando Cliente" message="Desea Eliminar"
        [buttons]="alertButton"></ion-alert>

    </ion-button>

    <ion-button (click)="abrirModalE()">

        <img src="/assets/icon/iconsed.gif" >

    </ion-button>


    <ion-button (click)="abrirModalV()">

        <img src="/assets/icon/iconsV.gif" >

    </ion-button>

  </ion-buttons>

    </ion-item>

  </ion-list>




<!-- </p> -->
