<ion-header>

  <ion-buttons slot="start" color="secundary">
    <ion-back-button (click)="salir()" text="regresar" defaultHref="/">
    </ion-back-button>
    <ion-title>Actualizar Datos</ion-title>
  </ion-buttons>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>
    <ion-item>
<ion-label position="floating">Nombre</ion-label>
<ion-input formControlName="nombre"   type="text" ></ion-input>
</ion-item>

<ion-item>
<ion-label position="floating">Apellido</ion-label>
<ion-input formControlName="apellido"  type="text" class="redondeado"  ></ion-input>
</ion-item>

<ion-item>
<ion-label position="floating">Direccion</ion-label>
<ion-input formControlName="Direccion"  type="text"  ></ion-input>
</ion-item>

<ion-item>
<ion-label position="floating">Cedula</ion-label>
<ion-input  placeholder="00-000000-0000A" type="text"></ion-input>
</ion-item>

<ion-item>
<ion-label position="floating">Correo electrinico</ion-label>
<ion-input formControlName="correo" placeholder="jjjj123@gmail.com" type="text"></ion-input>
</ion-item>

<ion-item>
<ion-label position="floating">Fecha</ion-label>
<ion-input formControlName="fecha" type="text"></ion-input>
</ion-item>

  </ion-list>
  <ion-button (click)="actualizaC()"class="top" size="default">Actualizar
    <ion-icon slot="start" name="arrow-redo-outline"></ion-icon>
  </ion-button>

</ion-content>
