<app-header titulo="Vista de Clientes"></app-header>

<ion-content [fullscreen]="true">

  <ion-input></ion-input>

  <ion-list>
    <ion-item>
      <ion-label>
        <h2>Nombre</h2>
      <h1>{{cliente.nombre}}</h1>
    </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Apellido</h2>
      <h1>{{cliente.apellido}}</h1>
    </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Direccion</h2>
      <h1>{{cliente.direccion}}</h1>
    </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Cedula</h2>
      <h1>{{cliente.cedula}}</h1>
    </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>Correo</h2>
      <h1>{{cliente.correo}}</h1>
    </ion-label>
    </ion-item>


  </ion-list>
  <ion-button (click)="salir()" class="top" size="default">salir
    <ion-icon slot="end" name="close"></ion-icon>
  </ion-button>

</ion-content>

<!-- (click)="crearcliente()"  -->
